.dashicons-icon-links {
	background-image: url("../img/admin/icons/link-list-icon.svg");
	background-repeat: no-repeat;
	background-position: center;
	height: 22px;
	width: 22px;
	background-size: contain;
}
